.attribute {
  text-align: center;
  border: 1px solid black;
}

.attribute-name {
  font-size: 1.3em;
  font-weight: bold;
}

.attribute-base {
  text-align: center;
}

.attribute-value {
  font-size: 1.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.attribute-mod {
  font-size: 1.8em;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 50%;
  width: 1.8em;
  height: 1.5em;
  padding-top: 0.2em;
  margin: auto;
}
