.attribute {
  border: 1px solid black;
  width: 8em;
  height: 8em;
}

.attribute-name {
  font-weight: bold;
}

.attribute-value {
  font-size: 2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.attribute-mod {
  border: 1px solid black;
  border-radius: 50%;
  width: 3em;
  height: 2.2em;
  padding-top: 0.8em;
  margin: auto;
}
