.levels-container {
  grid-area: levels;
  text-align: center;
  display: inline-block;
  border: 1px solid black;
}

.level-label {
  font-weight: bold;
}

.level-value {
  font-size: 3em;
  text-align: center;
  width: 3em;
}
