.sheet {
  display: grid;
  grid-template-areas: "header header header header"
                       "levels levels stats  char"
                       "attrs  saves  profs  char"
                       "attrs  saves  atks   char"
                       "attrs  skills atks   items"
                       "attrs  skills atks   items"
                       "attrs  skills atks   items";
  grid-template-columns: 3fr 4fr 7fr 10fr;
}
